@media (min-width:1536px) {
    
    .morerooms-img {
        display: flex;
        padding: 0 6.4rem;
        gap: 14rem;
    }

    .morerooms-img img {
        width: 300px;
    }

    .check {
        padding: 1rem;
    }

    .callto-action {
        background-size: cover;
    }

    .callto-border {
        bottom: 80px;
        left: 400px;
    }

    .callto-form {
        left: 300px;
        top: 100px;
    }

    .featured-logos img {
        height: 120px;
    }
    
    .container-3 {
        height: auto;
    }

    .about-us {
        grid-template-columns: 65fr 35fr;
    }
    
    .about-us2 {
        grid-template-columns: 35fr 65fr;
    }

    .contact-items h6 {
        font-size: 1.4rem;
    }

    .contact-items textarea {
        margin-top: 2.8rem;
    }
    
    .contact-wrapper .contact-items {
        width: 100%;
        gap: 2rem;
        padding: 2rem;
    }
}

@media (max-width:1440px) {
    .morerooms-img {
        gap: 4rem;
    }

    .container-3 {
        height: auto;
    }

    .deluxe-info {
        padding: 2rem;
    }
    
    .dl-info {
        padding-top: 3rem !important;
    }

    .penthouse-info {
        padding: 2rem;
    }

    .pt-info {
        padding-top: 2rem !important;
    }

    .about-us {
        grid-template-columns: 65fr 35fr;
    }

    .about-us2 {
        grid-template-columns: 35fr 65fr;
    }

    .contact-wrapper .contact-items {
        padding: 2rem;
    }
}